APP_PORT=app port

MYSQL_HOST=your mysql hostname - required
MYSQL_PORT=your mysql port - required
MYSQL_USERNAME=your mysql username - required
MYSQL_PASSWORD=your mysql password - required
MYSQL_DB_NAME=your mysql db name - required

ACCESS_TOKEN_SECRET=your secret - required

ACCESS_CONTROL_ALLOW_ORIGIN=domain1.com,domain2.com,domain3.com
